[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
tweepy = "*"
jupyterlab = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
progress = "*"
wordcloud = "*"
sklearn = "*"
gensim = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.8"
